body {
    background-color: rgb(170, 175, 173);
}

header {
    align-items: center;
}

#nav {
    height: 60px;
    width: 200%;
    background-color: rgb(39, 39, 38);
    display: flex;
    margin: 0;
}

#nav .logo-container img {
    background: #ffffff;
    height: 30px;
    width: 30px;
    flex: 1;
}

nav li {
    display: inline;
    text-decoration: none;
    margin: 0 40px 0 40px;
    list-style: none;
    flex: 2;
}

nav a {
    color: #ffffff;
}

#nav a:hover {
    color: aquamarine;
    text-transform: uppercase;
}

#content {
    width: 80%;
    margin: 0 auto;
}