body {
    background-color: dimgray;
    overflow: scroll;
}

#nav {
    background-color: #444444;
    margin: 0px;
    height: 50px;
    color: white;
    width: 200%;
    float: left;
    position: fixed;
}

#nav li {
    display: inline-block;
    margin: 0 50px 0 50px;
    text-decoration: none;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

#nav a:hover {
    color: #000000;
    font-weight: bold;
}

#nav li .highlight,
.current a {
    color: #000000;
    font-weight: bold;
}

#content {
    position: static;
    left: 0;
    top: 100px;
    width: 80%;
    display: block;
    font-size: 80px;
    text-align: center;
}